<form method="post" action="/feedback">
  
  <label for="input-4" class="control-label">Rate Your Session</label>
  <input id="input-4" name="input-4" class="rating rating-loading" data-show-clear="false" data-show-caption="true">
  
  <input type="hidden" name="user_id" value="<%= @profile.id %>">
  <textarea name= "content" rows="5" cols="50">Enter your review here</textarea>
  <input value="Submit" type="submit">
</form>