<form method="post" action="/feedback">
  Rating: <div id="star-rating">
    <input type="radio" name="rating" class="rating" value="1" />
    <input type="radio" name="rating" class="rating" value="2" />
    <input type="radio" name="rating" class="rating" value="3" />
    <input type="radio" name="rating" class="rating" value="4" />
    <input type="radio" name="rating" class="rating" value="5" />
</div>
  
  <br>
  <input type="hidden" name="user_id" value="<%= user.id %>">
  <textarea name= "content" rows="5" cols="50">Enter your review here</textarea>
  <input value="Submit" type="submit">
</form>