<div class="background-img">

  <div class="container">
    <div class="row search_row">
      <div class="input-group col-xs-12">
        <form class="input-group col-xs-12" method="post">
          <input type="text" class="form-control searchbar1" name="content" id="search" placeholder="What do you want to learn?">
          <span class="input-group-btn">
            <button class="btn btn-default search_button1" type="submit">Learn!</button>
          </span>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
    <% if flash[:warning] %>
      <div class="alert alert-danger text-center" id="success-alert">
        <strong> <%= flash[:warning] %>  </strong>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row nav_buttons sticky-footer">
    <div class="col-md-12">
      <a href="/search/6">
        <div class="col-md-4 col_blk col_hov">
        <h2 class="spanner js-indent"><span class="text-banner">Javascript</span></h2>  
        </div>
      </a>
      <a href="/search/4">
        <div class="col-md-4 col_red col_hov">
          <h2 class="spanner"><span class="text-banner">Carpentry</span></h2>
        </div> 
      </a> 
      <a href="/search/3">
        <div class="col-md-4 col_green col_hov">
          <h2 class="spanner"><span class="text-banner">Guitar</span></h2>
        </div>
      </a>
    </div>
  </div>
</div> <!-- close background -->