<div class="container">
  <div class="row search_row">
    <div class="input-group">
      <input type="text" class="form-control searchbar1" placeholder="What do you want to learn?">
        <span class="input-group-btn">
          <button class="btn btn-default search_button1" type="button">Learn!</button>
        </span>
      </div>
  </div>
</div>
<div class="row nav_buttons">
<a href="/">
  <div class="col-md-4 col_blk col_hov">
  </div>
</a>   
<a href="/">
  <div class="col-md-4 col_red col_hov">
  </div> 
</a>  
<a href="/">
  <div class="col-md-4 col_green col_hov">
  </div>
</a>
</div>
